*{
    padding: 0;
    margin: auto 0;

}

:root{
    --background: #695a29;
    --card-blastermintor: #802424;
    --card-elara: #3f909e;
    --card-fagulha: #3a2477;
}

body{
    font-family: "Anton SC", sans-serif;
    background-color: var(--background);
    color: #301111;
    padding: 5rem;
}
section{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}
div{
    width: 400px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
table{
    width: 400px;
    text-align: center;
}
.card{
    padding: 0.5rem;
    transition: transform 2s ease, box-shadow 1s ease;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-blastermintor{
    background-color: var(--card-blastermintor);
    border: 5px solid #aa1c1c;
}
.card-elara{
    background-color: var(--card-elara);
    border: 5px solid #83bbc5
}
.card-fagulha{
    background-color: var(--card-fagulha);
    border: 5px solid #6546b9
}
li{
    transition: transform 2s ease;
}
li:hover{
    transform: scale(1.05);
}

